<%= form_with do |form| %>
  name: <%= form.text_field :name %><br>
  message: <%= form.text_field :message %><br>
  <%= form.submit "é€ä¿¡" %>
<% end %>

<hr>
<table border="1">
  <tr>
    <td>date</td>
    <td>name</td>
    <td>message</td>
  </tr>
  <% @messages.each do |r| %>
    <tr>
      <td><%= r.updated_at %></td>
      <td><%= r.name %></td>
      <td><%= r.message %></td>
    <tr>
  <% end %>
</table>

